*{
    margin: 0;
    padding: 0;
}

body{
     background-color: #0a1c28;
}

.menu{
    width: 1250px;
    height:4300px;
    background-color: #182531;
    margin: 0;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 50px;
    padding-top: 10px;
    
}

.box1{
    height:250px;
    width:240px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 90px;
    left:260px; 

}

.box2{
    width: 240px;
    height:250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 90px;
    left: 610px;
}

.box3{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top:90px;
    left: 960px;
}

.box4{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 460px;
    left: 260px;
}

.box5{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 460px;
    left: 610px;
}

.box6{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 460px;
    left: 960px;
}

.box7{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 860px;
    left: 260px;
}

.box8{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 860px;
    left: 610px;
}

.box9{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 860px;
    left: 960px;
}

.box10{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 1260px;
    left: 260px;
}

.box11{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 1260px;
    left: 610px;
}

.box12{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 1260px;
    left: 960px;
}

.box13{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 1660px;
    left: 260px;
}

.box14{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 1660px;
    left: 610px;
}

.box15{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 1660px;
    left: 960px;
}

.box16{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2060px;
    left: 260px;
}

.box17{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2060px;
    left: 610px;
}

.box18{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2060px;
    left: 960px;
}

.box19{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2460px;
    left: 260px;
}

.box20{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2460px;
    left: 610px;
}

.box21{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2460px;
    left: 960px;
}

.box22{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 2860px;
    left: 260px;
}

.box23{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2860px;
    left: 610px;
}

.box24{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 2860px;
    left: 960px;
}







.box25{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 3260px;
    left: 260px;
}

.box26{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 3260px;
    left: 610px;
}

.box27{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 3260px;
    left: 960px;
}

.box28{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 10%;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 3660px;
    left: 260px;
}

.box29{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 3660px;
    left: 610px;
}

.box30{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 3660px;
    left: 960px;
}

.box31{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 4060px;
    left: 260px;
}

.box32{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 4060px;
    left: 610px;
}

.box33{
    width: 240px;
    height: 250px;
    background-color: white;
    border-radius: 50px 100px;
    margin-left: 30px;
    border: 3px solid black;
    position: absolute;
    top: 4060px;
    left: 960px;
}


.profile1{
    width: 240px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 520px;
    
}


.profile{
    width: 240px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50px 100px;
    border:3px solid #22acd4 ;
    
}

.name{
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    font-family:    Helvetica, Arial, sans-serif;
    font-weight: 400;
    opacity: 0.7;

}
h4{
    color: #22acd4;
    justify-content: center;
    text-align: center;
    font-family:    Helvetica, Arial, sans-serif;
    
    opacity: 0.9;
}

h1{
    color: #22acd4;
    font-family:    Helvetica, Arial, sans-serif;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    opacity: 0.9;
    position: relative;
    top: 30px;
}





a{
    z-index: 1000;
    justify-content: center;
    align-items: center;
    

}

.linkedin{
    height: 30px;
    width: 30px;
    filter: invert(100%);
    position: absolute;
    left: 70px;
    margin-top: 5px;
}

.insta{
    height: 30px;
    width: 30px;
    filter: invert(100%);
    position: absolute;
    left: 130px;
    margin-top: 5px;
}